<a href="https://colab.research.google.com/github/MichaelMendonca/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Mike_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd
import numpy as np

In [0]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-18 16:39:42--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                <=> ]  21.72M   421KB/s    in 54s

2020-01-18 16:40:36 (412 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [0]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.shape

(128397, 144)

In [0]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df['term'].head(10)

0     36 months
1     36 months
2     36 months
3     36 months
4     60 months
5     36 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object

In [0]:
df['term'][0]

' 36 months'

In [0]:
type(df['term'][3])

str

In [0]:
int_rate = ' 36 months'

In [0]:
int_rate.strip().strip('months').strip()

'36'

In [0]:
#df['term'] = pd.to_numeric(df['term'])
def str_to_int(column_):
  return
  int(column_.strip().strip('months'))

df['term'] = df['term'].apply(str_to_int)

In [0]:
df['term'] = pd.to_numeric(df['term'])

In [0]:
type(df['term'][3])

numpy.float64

In [0]:
#Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

loan_status_is_great = []

In [0]:
df['loan_status_is_great'] = [1 if itm == "Current" or itm == "Fully Paid" else 0 for itm in df['loan_status']]

In [0]:
df.loan_status_is_great

0         0
1         1
2         1
3         1
4         1
         ..
128392    0
128393    1
128394    1
128395    1
128396    1
Name: loan_status_is_great, Length: 128397, dtype: int64

In [0]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'loan_status_is_great'],
      dtype='object', length=145)

In [0]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.
mylist=[]
for col in df.columns:
  if col.endswith('_d'):
    mylist.append(col)

In [0]:
mycols = [col for col in df.columns if col.endswith('_d')]

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [0]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
df=df[mycols].copy()

In [0]:
df['last_pymnt_d_month']=df['issue_d'].dt.month
df.head

<bound method NDFrame.head of           issue_d last_pymnt_d  ... last_credit_pull_d last_pymnt_d_month
0      2018-12-01     Apr-2019  ...           Nov-2019                 12
1      2018-12-01     Dec-2019  ...           Nov-2019                 12
2      2018-12-01     Feb-2019  ...           Nov-2019                 12
3      2018-12-01     Dec-2019  ...           Dec-2019                 12
4      2018-12-01     Dec-2019  ...           Nov-2019                 12
...           ...          ...  ...                ...                ...
128392 2018-10-01     Dec-2018  ...           Nov-2018                 10
128393 2018-10-01     Dec-2019  ...           Nov-2019                 10
128394 2018-10-01     Dec-2019  ...           Nov-2019                 10
128395 2018-10-01     Dec-2019  ...           Nov-2019                 10
128396 2018-10-01     Dec-2019  ...           Nov-2019                 10

[128397 rows x 5 columns]>

In [0]:
df['last_pymnt_d_year']=df['issue_d'].dt.year
df.head

<bound method NDFrame.head of           issue_d last_pymnt_d  ... last_pymnt_d_month last_pymnt_d_year
0      2018-12-01     Apr-2019  ...                 12              2018
1      2018-12-01     Dec-2019  ...                 12              2018
2      2018-12-01     Feb-2019  ...                 12              2018
3      2018-12-01     Dec-2019  ...                 12              2018
4      2018-12-01     Dec-2019  ...                 12              2018
...           ...          ...  ...                ...               ...
128392 2018-10-01     Dec-2018  ...                 10              2018
128393 2018-10-01     Dec-2019  ...                 10              2018
128394 2018-10-01     Dec-2019  ...                 10              2018
128395 2018-10-01     Dec-2019  ...                 10              2018
128396 2018-10-01     Dec-2019  ...                 10              2018

[128397 rows x 6 columns]>

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01